.custom-button {
  display: inline-flex;
  justify-content: center; /* Horizontally centers the text inside the button */
  align-items: center; /* Vertically centers the text inside the button */
  text-decoration: none;
  color: white;
  font-size: 16px;
  max-width: 100%; /* Ensures the button does not exceed the width of its container */
  height: auto; /* Allows the height to adjust automatically based on the content */
  font-weight: bold;
  border-radius: 15px;
  padding: 7px 14px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);
}

.custom-button-container {
  display: flex;
  justify-content: center; /* horizontal centering*/
  align-items: center; /* vertical centering */
  padding: 10px; /* spacing around the button */
  max-width: 100vw; /* container fits within the viewport (area of the web page visible to users */
}
